* {
    box-sizing: border-box;
  }
  body {
    margin: 0px;
    background-color: #eee; /* light-grey */
    font-family: 'Lato', 'Helvetica-Neue', calibri, sans-serif;
    font-size: 15px;
    line-height: 18px;
    color: #333; /* dark-grey */
  }
  nav {
      display: flex;
      background-color: antiquewhite;
      border-bottom: 1px solid #bebebe;
  }
  .main-menu-items {
      display: inline;
      padding: 10px;
  }
  #img-logo {
      height: 60px;
  }
  #main-menu {
  }
  #logo-container {
      flex: 1;
      text-align: center;
  }
  #user-menu {
  }
  #img-hero {
      width: 100%;
  }
  #main-article {
      width: 60%;
      margin-left: 20%;
  }
