* {
    box-sizing: border-box;
  }
  body {
    margin: 0px;
    background-color: #eee; /* light-grey */
    font-family: 'Georgia', Cambria, serif;
    font-size: 15px;
    line-height: normal;
    color: #333; /* dark-grey */
  }
  h1 {
    font-size: 3rem;
    font-style: italic;
    line-height: normal;
  }
  .bold {
    font-weight: 700;
  }
  .uppercase {
    text-decoration: uppercase;
  }
  .column {
    float: left;
  }
  .column-2 {
    width: 16.66%;
  }
  .column-3 {
    width: 25%;
  }
  .column-4 {
    width: 33.3%;
  }
  .column-8 {
    width: 66.6%;
  }
  .row:after {
    clear: both;
    display: table;
    content: "";
  }
  .flex {
    display: flex;
  }
  ul {
    list-style-type: none;
    padding-left: 0px;
  }
  nav {
      display: flex;
      background-color: antiquewhite;
      border-bottom: 1px solid #bebebe;
  }

  .main-menu-items {
      display: inline;
      padding: 10px;
  }
  #img-logo {
      height: 50px;
  }
  #main-menu {
    margin-top: 9px;
    margin-left: 10px;
  }
  .main-menu-items a {
    color: #000;
    text-decoration: none;
    font-weight: 700;

  }
  #logo-container {
    flex: 1;
    text-align: center;
  }  
  #logo-footer {
    flex: 1;
    text-align: left;
  }
  #user-menu {
  }
  #user-menu button {
    background-color: #6288a5;
    padding: 8px 12px;
    border: 1px solid #326891;
    color: #fff;
    font-weight: 700;
    margin-top: 10px;
    margin-right: 10px;
    border-radius: 3px;
  }
  #img-hero {
      width: 100%;
  }
  article {
    padding: 26px;
  }
  .article-body {
    display: flex;
  }
  .main-article {
      width: 60%;
      margin-left: 20%;
  }
  .main-article p {
    font-size: 1.6rem;
    line-height: 2.6rem;
  }
  .side-column {
    width: 20%;
  }
  #related-articles {
    padding: 26px;
  }
  #related-articles img {
    width: 100%;
  }
  #abstract img {
    width: 100%;
  }
  .card {
    padding: 12px 8px;
  }
  .article-publisher {
    text-align: right;
    font-size: 0.7rem;
  }
  .article-title a {
    text-decoration: none;
    color: black;
  }
  .article-date {
    font-size: 0.7rem;
  }
  #most-popular li {
    font-size: 1.3rem;
    padding: 10px 0px;
    border-top: 1px solid #bebebe;
  }
